<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
	
		<meta charset="utf-8">
		<title>Gestion appels d'offres</title>

	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<header>
			<div class="col-md-12">
				<h1>Gestion des appels d'offres <span class="badge badge-secondary">PFA</span></h1>
			</div> 
			<div id="bande_horizontale" style="padding: 0px;
				margin: 0px;
				border: none;
				width: 100%;
				height: 80px;
				background-color: #FEB201;"	></div> 
		</header>
		<aside class="col-md-2">
			<div class="panel panel-light">
					<div class="panel-body">
						<div class="list-group">
						  	<a href="#" class="list-group-item list-group-item-action ">Gestion Utilisateurs</a>
						  	<a href="#" class="list-group-item list-group-item-action ">Gestion Appels Offres</a>
						  	<a href="#" class="list-group-item list-group-item-action ">Gestion Marches</a>
						</div>
						<div class="list-group">
						  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Mon Profile : [[${#httpServletRequest.remoteUser}]]</a>
						 </div>
						<form th:action="@{/logout}" method="post">
							<input type="submit" value="Se deconnecter" class="btn btn-warning">
						</form>
					</div>
			</div>
		</aside>
		<section layout:fragment="content" class="col-md-10">
		
		</section>
	</body>
</html>