<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="utf-8">
		<title>Gestion appels d'offres-Admin</title>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	    <!-- Optional theme -->
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
		
	</head>
	<body>
		<header>
			<div class="navbar navbar-default">
				<div class="container-fluid">
					<ul class="nav navbar-nav">
						<li><h1>Gestion des appels d'offres <span class="badge badge-secondary">PFA</span></h1></li>
					</ul>
				</div>
			</div>
		</header>

			<aside class="col-md-2">
				
				<div class="panel panel-light">
						<div class="panel-body">
							<div class="list-group">
								<a th:href="@{/portailAdmin}" class="list-group-item list-group-item-action">Dashboard</a>
							  	<a th:href="@{/users}" class="list-group-item list-group-item-action">Gestion Utilisateurs</a>
							  	<a th:href="@{/annonces}" class="list-group-item list-group-item-action ">Gestion Annonces</a>
							  	<a th:href="@{/docs}" class="list-group-item list-group-item-action ">Gestion Documents</a>
							</div>
							<div class="list-group">
							  	<a th:href="@{/profilAdmin/}+${#httpServletRequest.remoteUser}" class="list-group-item list-group-item-action " th:value="${#httpServletRequest.remoteUser}">Mon profil</a>
							</div>
							<form th:action="@{/logout}" method="post">
								<input type="submit" value="Se deconnecter" class="btn btn-danger">
							</form>
						</div>
						
				</div>
			</aside>
			
			<section layout:fragment="content" class="col-md-10">
				
			</section>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
	</body>
</html>