<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      >
	<head>

		<meta charset="utf-8">
		<title>Gestion appels d'offres</title>
		
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<header>
			<div class="navbar navbar-default">
				<div class="container-fluid">
					<ul class="nav navbar-nav">
						<li><h1>Gestion des appels d'offres <span class="badge badge-secondary">PFA</span></h1></li>
					</ul>
				</div>
			</div>
		</header>
		<aside class="col-md-2">
			<div class="panel panel-light">
					<div class="panel-body">
						
						<div class="panel panel-link">
							<div class="panel-heading" style="background-color:#3073ad;color:white;">Annonces</div>
							<div class="panel-body list-group-item" th:each="annonce:${latest}">
								<a th:href="@{/viewAnnonce/}+${annonce.id}"  th:text="${annonce.title}">A simple primary list group item</a>
							</div>
						</div>
						<div sec:authorize access="!isAuthenticated()">
							<div class="list-group">
							  	<a th:href="@{/docsOff}" class="list-group-item list-group-item-action list-group-item-link">Documents officiels</a>
							</div>
	
							<form th:action="@{/portailAP}" method="post">
								<input type="submit" value="Accès Acheteur Public" class="btn btn-warning">
							</form>
							<br>
							<form action="#" method="post">
								<input type="submit" value="Accès Soumissionnaire" class="btn btn-warning">
							</form>
						</div>
						<div sec:authorize="hasRole('ROLE_AP')">
							<div class="list-group">
							  	<a th:href="@{/gestionAO/{email}(email=${#httpServletRequest.remoteUser})}" class="list-group-item list-group-item-action ">Mes Appels d'Offres</a>
							  	<a th:href="@{/profilAP/}+${#httpServletRequest.remoteUser}" class="list-group-item list-group-item-action " th:value="${#httpServletRequest.remoteUser}">Mon profil</a>
							</div>
							<form th:action="@{/logout}" method="post">
								<input type="submit" value="Se deconnecter" class="btn btn-danger">
							</form>
						</div>
					</div>
			</div>
		</aside>
		<section layout:fragment="content" class="col-md-10">	
			
			<div class="panel panel-light">
				<div class="panel-body">
					<nav aria-label="breadcrumb">
  						<ol class="breadcrumb">
    						<li class="breadcrumb-item active" aria-current="page"><a th:href="@{/appelOffres}">Accueil</a></li>
    						<li class="breadcrumb-item active" aria-current="page">Annonce num : [[${annonce.id}]]</li>
  						</ol>
					</nav>
					
					<article>
						<h2 th:text="${annonce.title}">Post Title</h2>
					    <div >
						    <i>Publié le</i>
						    <span th:text="${#dates.format(annonce.date, 'dd-MMM-yyyy')}">22-May-2016</span>
					    </div>
					    <p  th:utext="${annonce.content}">Post content</p>
					</article>
					<div class="panel panel-primary">
						<div class="panel-heading"></div>
						<div class="panel-body">
							<table class="table table-hover" >
								<thead>
									<tr>
										<th scope="col">Listes des annonces</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="annonce:${annonces}">
										<td th:text="${annonce.title}">Titre annonce</td>
										<td><a th:href="@{/viewAnnonce/}+${annonce.id}">Voir l'annonce</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>